.titulo{
	color: black;
	font-family: Colonna;
	font-size: 35px;
}
.subtitulo{
	color:rgb(119,119,119);
}
.logo{
	text-align: center;
	width: 100%;
}
.container{
	text-align: center;
}
.imglogo{
	height:500px;
}
@font-face {
    font-family: Colonna;
    src: url(../font/cgzeppelin_regular.ttf);
}