.titulo{
	color: rgb(130, 68, 17);
	font-family: Colonna;
	font-size: 60px;
}
.subtitulo{
	color: rgba(130, 68, 17,0.7);
	font-family: Colonna;
	font-size: 40px;
}
.home{
	text-align: center;
	display: inline-block;
	width:100%;
}
.logo{
	text-align: center;	
	float:left;
	max-width:50%;
}
.welcomeG{
	width:50%;
	float:right;
}
.boton{
	float:left;
	width:20%;
	margin-top: 15%;
}

.descHome{
	text-align: justify;
	font-family: initial;
	font-size: 17px;
	margin-right: 2%;
	margin-left: 2%;
}
.botonac>a{
	color:rgb(50,50,50);
	font-size: 17px;
}
.boton:hover{
	background-color: lightgrey;
}
.boton>a{
	font-size: 17px;
	color:grey;
}
.botonac{
	background-color: lightgrey;
	margin-top: 15%;
	float:left;
	width:20%;
}
.imgI{
	float:left;
}
.textD{
	float:left;
}
.todo{
	display: inline-block;
}
@font-face {
    font-family: Colonna;
    src: url(../font/cgzeppelin_regular.ttf);
}