.titulo{
	color: rgb(130, 68, 17);
	font-family: Colonna;
	font-size: 40px;
	margin-top: 55px;
}
.minnesota{
	font-size: 10px;
}
div.col-md-6.map{
	padding-left: 0;
}
.navBot{
	color:grey;
}
p.descHome.colum{
	margin: 0;
}
.marginT{
	margin-top: 25px;
	font-family: initial;	
	font-size: 20px;
	padding:15px;
}

.navG{
	display:inline-block;
	width:100%;
}
.navBI{
	text-align: left;
	float:left;
	width: 33%;
}
.navBD{
	float:right;
	width:33%;
	text-align: right;
}
.navBC{
	text-align: center;
	float:left;
	width:34%;
}
li>p.descHome{
	margin:0;
}
.copyRight{
	font-family: initial;	
	font-size: 20px;
	padding:15px;
	padding-left: 0;
	margin-top: 8px;
}
.headerT{
	background-color: rgb(241,239,200);
	border-bottom: solid 1px;
	border-color: rgb(130, 68, 17);
	padding-bottom: 1%;
	padding-top: 1.6%;
}
.navBottom{
	background-color: rgb(241,239,200);
	color:grey;
	border-top: solid 1px;
	border-color: rgb(130, 68, 17);
}
.cent{
	text-align: center;
	font-family: initial;
	font-size: 20px;
}
.link{
	padding-top: 2%;
}
div.link.col-md-4{
	padding-left: 0;
}
div.link.col-md-8{
	padding-right: 0;
}
.subtitulo{
	color: rgba(130, 68, 17,0.7);
	font-family: Colonna;
	font-size: 27px;
}
.home{
	text-align: center;
	display: inline-block;
	width:100%;
}
div.col-md-5.aboutI{
	padding-left: 0;
	padding-top: 2%;
}
.aboutD{
	padding-right: 0;
	padding-top: 9%;
}
.logo{
	text-align: center;	
	float:left;
	max-width:50%;
}
.welcomeG{
	width:50%;
	float:right;
}
.panelH{
	margin:2%;
}
.boton{
	float:left;
	width:20%;
	margin-top: 77px;
}

.descHome{
	text-align: justify;
	font-family: initial;
	font-size: 20px;
}
.botonac>a{
	color:rgb(50,50,50);
	font-size: 13px;
}
div.col-md-7{
	text-align: left;
	padding-left: 0;
}
img.imgCentro{
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
h1.titulo{
	margin-top: 45px;
	margin-bottom: 0;
}
h3.subtitulo{
	margin-top: 0;
}
div.col-md-5.bots{
	padding-right: 0;
}
.boton>a{
	font-size: 13px;
	color:grey;
}
.botonac{
	background-color: lightgrey;
	margin-top: 77px;
	float:left;
	width:20%;
}
.botones{
	width:100%;
}
.imgI{
	float:left;
	width: 205px;
}
.textD{
	float:left;
}
.todo{
	display: inline-block;
}
@font-face {
    font-family: Colonna;
    src: url(../font/IMPRISHA.TTF);
}