<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Artist Catalina Vasquez Website" content="Projects, paintings and experience">
	<link rel="stylesheet" href="../css/style.css" type="text/css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="icon" type="image/png" href="../css/imgs/logo.JPG">
	<script src="https://use.fontawesome.com/c130fc509f.js"></script>
	<title>Artis Aegis</title>
</head>
<body>
	<div>

			<div class="headerT">
				<div class="container">
					<div class="home ">
							<div class="col-md-7">
								<div class="todo">
									<div class="imgI">
										<a href="#"><img src="../css/imgs/HomeLog1.jpg" title="Artis Aegis" alt="Artis Aegis Icon" class="img-responsive img-rounded imglogo img-center" style="max-height:175px"/></a>
									</div>
									<div class="textD">
										<h1 class="titulo">
											Artis Aegis, LLC
										</h1>
										<h3 class="subtitulo">
											Conservation of Paintings
										</h3>
									</div>
								</div>
							</div>
						<div class="col-md-5 bots">
					      	<div class="botones">
					      		<div class="boton">
					      			<a href="../index.html">HOME</a>
					      		</div>
					      		<div class="boton">
					      			<a href="./about.html">ABOUT</a>
					      		</div>
					      		<div class="boton">
					      			<a href="./services.html">SERVICES</a>
					      		</div>
					      		<div class="botonac">
					      			<a href="">CONTACT</a>
					      		</div>
					      		<div class="boton">
					      			<a href="./links.html">LINKS</a>
					      		</div>
					      	</div>
						</div>
					</div>
				</div>

			</div>
			<div class="panelH container">
				<img src="../css/imgs/ArabianHorses.jpg" style="width:100%" class="img-responsive" title="Arabian Horses" alt="Arabian Horses"/>
			</div>
			<div class="container">
				<div class="col-md-6 map">
					<p class="descHome">
						Please contact Artis Aegis, LLC with any questions about conservation or to request our services.
						<br><br>
						<strong>Tel:</strong> 757-405-2971
						<br>
						<strong>Email:</strong> artisaegis@gmail.com
						<br>
					</p>
					<div id="map" style="width:90%;height:325px;"></div>
				</div>
				<div class="col-md-6 cont">
					
					<p class="descHome">
					We can discuss your inquiry over the phone, but an appointment to inspect your art object is best to assess your conservation needs. This preliminary consultation is usually followed by a careful examination of the art object. The process generates a formal condition report in electronic format that includes photographic documentation, as well as a treatment proposal with a binding estimate. The fee for this step is $150.  If a client chooses to go forth with treatment, $75 of this fee is credited to the final cost of treatment.  
					<br><br>
					Treatment starts as soon as the treatment proposal and a contract are signed, and a down payment of 30% of the estimate is received.  Treatments are typically completed within two or three months, depending on the complexity of the project. Rush orders can sometimes be accommodated for an additional charge.  The balance of the treatment cost is due when the work is retrieved from the studio.
				</p>
				</div>
				
			</div>
			<a href="http://www.conservation-us.org/peer-reviewed" ><img width="90" height="90" src="http://www.conservation-us.org/images/default-source/membercenter/aic-pa-mark-logo.jpg?sfvrsn=4" alt="AIC Professional Associate Mark" title="AIC PA Mark" class="imgCentro" /></a>
			<div class="navBottom">
				<div class="container">
					<div class="navG">
						<div class="navBI">
							<p class="marginT">
								© 2017 Artis Aegis, LLC
							</p>	
						</div>
						<div class="navBC">
							<p class="marginT">
								<a href="https://www.facebook.com/paintingsconservation/" class="navBot" title="Facebook">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>&nbsp; 
								<a href="https://www.linkedin.com/in/catalina-vasquez-kennedy-a4a22a17" title="LinkedIn" class="navBot">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								</a>
							</p>	
						</div>
						<div class="navBD">
							<p class="copyRight">
								artisaegis@gmail.com
								<br>
								757-405-2971
							</p>	
						</div>
					</div>
					
				</div>
			</div>
	</div>
</body>
<script>
	function myMap() {
    	var mapOptions = {
        	center: new google.maps.LatLng(39.722109, -104.880690),
        	zoom: 14,
        	mapTypeId: google.maps.MapTypeId.ROADMAP
    	}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);

		var marker = new google.maps.Marker({
          position: new google.maps.LatLng(39.722109, -104.880690),
          map: map,
          title: 'Artis Aegis, LLC'
        });
	}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5gVIxzt4WtEBhoLVgSBgwUkcMMs-FGD0&callback=myMap">
    </script>
</html>